/* Fondo */
.fondo{
    -fx-background-image: url("imagenes/imagen.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/* Estilos de los botones */
.button {
    -fx-background-color: #000000; /* Fondo negro */
    -fx-text-fill: white; /* Texto blanco */
    -fx-font-size: 16px;
}

.button:hover {
    -fx-text-fill: grey; /* Texto azul al pasar el mouse */
    -fx-cursor: hand; /* Cursor de manito */
}

/* Botones específicos */
#btnAgendarTurno, #confirmarButton, #btnTurnoModificado {
    -fx-background-color: green; /* Fondo verde */
}

#btnCancelarTurno {
    -fx-background-color: #cd5c5c; /* Fondo rojo */
}
#btnAgendarTurno:hover, #btnCancelarTurno:hover, #confirmarButton:hover, #btnTurnoModificado:hover {
    -fx-text-fill: white; /* Texto azul al pasar el mouse */
    -fx-cursor: hand; /* Cursor de manito */
}
#btnAgendarTurno:hover, #confirmarButton:hover, #btnTurnoModificado:hover {
    -fx-background-color: #32cd32; /* Fondo verde */
}

#btnCancelarTurno:hover {
    -fx-background-color: red; /* Fondo rojo */
}
#btnAgendarTurno:pressed, #confirmarButton:pressed, #btnTurnoModificado:pressed {
    -fx-background-color: darkgreen; /* Fondo verde */
}

#btnCancelarTurno:pressed {
    -fx-background-color: #8b0000; /* Fondo rojo */
}


#eliminarButton {
    -fx-background-color: #000000; /* Fondo negro */
    -fx-text-fill: white; /* Texto blanco */
    -fx-font-size: 16px;
    -fx-padding: 10px 20px; /* Relleno interno */
}

#eliminarButton:hover {
    -fx-text-fill: grey; /* Texto azul al pasar el mouse */
    -fx-cursor: hand;
}

/* Estilo de los ComboBox */
.combo-box {
    -fx-background-color: #000000; /* Fondo negro */
    -fx-text-fill: white; /* Texto blanco */
    -fx-font-size: 16px;
    -fx-prompt-text-fill: white; /* Texto del prompt blanco */
}
.combo-box:hover {
    -fx-cursor: hand;
}
.combo-box .text {
    -fx-fill: white; /* Texto azul al pasar el mouse */
}
.combo-box:hover .text {
    -fx-fill: grey; /* Texto azul al pasar el mouse */
    -fx-cursor: hand;
}

.combo-box .list-view .list-cell {
    -fx-background-color: #000000; /* Fondo negro */
    -fx-text-fill: white; /* Texto blanco */
    -fx-cursor: hand;
}

.combo-box .list-view .list-cell:hover {
    -fx-text-fill: grey; /* Texto azul al pasar el mouse */
}

.combo-box .list-view .list-cell:selected {
    -fx-background-color: #333333; /* Fondo seleccionado gris oscuro */
    -fx-text-fill: white; /* Texto blanco */
}

/* Estilos del formulario */
#dniTextField {
    -fx-background-color: #ffffff; /* Fondo blanco */
    -fx-border-color: #000000; /* Borde negro */
    -fx-border-width: 2px;
    -fx-padding: 5px; /* Relleno interno */
    -fx-font-size: 14px;
}

#cancelarTurnoVBox {
    -fx-background-color: #FFFFFF;
    -fx-padding: 20px; /* Relleno alrededor del contenido */
    -fx-spacing: 10px; /* Espaciado entre elementos */
}