/* Imagen de Fondo */
.fondo{
    -fx-background-image: url("imagenes/imagen.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
/* Estilos del contenedor */
.contenedor{
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 2);
    -fx-max-width: 550; 
    -fx-max-height: 650; 
    -fx-background-radius: 15;
}
/* Estilos del VBOX */
.vbox{
    -fx-alignment: CENTER; /* Alineación central */
    -fx-spacing: 20; /* Espaciado entre los elementos */
    
}
/* Estilos del titulo principal */
.titulo_principal {
    -fx-font-size: 30px; 
    -fx-font-weight: bold;   
    -fx-underline: true;
    
}

.titulo_dato_paciente{
    -fx-font-weight: bold;   
    -fx-font-size: 15px; 
}

/* Estilos de los botones */
.button {
    -fx-text-fill: white; /* Texto blanco */
    -fx-font-size: 16px;
    
}
.button:hover {
    -fx-cursor: hand; /* Cursor de manito */
}

#btnMostrarTurno, #btnMostrarMedicos,#btnVolver,#btnModificarTurno,#btnBuscarTurnos,#btnAgregarTurno {
    -fx-background-color: #535353;
}
#btnMostrarTurno:hover,#btnMostrarMedicos:hover,#btnVolver:hover,#btnModificarTurno:hover,#btnBuscarTurnos:hover,#btnAgregarTurno:hover{
    -fx-background-color: #0a0a0a;
}

/* Botones específicos */
#btnAgendarTurno, #confirmarButton, #btnTurnoModificado {
    -fx-background-color: green; /* Fondo verde */
}

#btnCancelarTurno {
    -fx-background-color: #cd5c5c; /* Fondo rojo */
}

#btnAgendarTurno:hover, #confirmarButton:hover, #btnTurnoModificado:hover {
    -fx-background-color: #32cd32; /* Fondo verde */
}

#btnCancelarTurno:hover {
    -fx-background-color: red; /* Fondo rojo */
}

/* Estilo de los ComboBox */
.combo-box {
    -fx-background-color: #000000; /* Fondo negro */
    -fx-text-fill: white; /* Texto blanco */
    -fx-font-size: 16px;
    -fx-prompt-text-fill: white; /* Texto del prompt blanco */
}
.combo-box:hover {
    -fx-cursor: hand;
}
.combo-box .text {
    -fx-fill: white; /* Texto azul al pasar el mouse */
}
.combo-box:hover .text {
    -fx-fill: #d1d1d1; /* Texto azul al pasar el mouse */
    -fx-cursor: hand;
}

.combo-box .list-view .list-cell {
    -fx-background-color: #000000; /* Fondo negro */
    -fx-text-fill: white; /* Texto blanco */
    -fx-cursor: hand;
}

.combo-box .list-view .list-cell:hover {
    -fx-text-fill: white; /* Texto azul al pasar el mouse */
}

.combo-box .list-view .list-cell:selected {
    -fx-background-color: #333333; /* Fondo seleccionado gris oscuro */
    -fx-text-fill: white; /* Texto blanco */
}

/* Estilos del formulario cuando cancelamos un turno */
#dniTextField {
    -fx-background-color: #ffffff; /* Fondo blanco */
    -fx-border-color: #000000; /* Borde negro */
    -fx-border-width: 2px;
    -fx-padding: 5px; /* Relleno interno */
    -fx-font-size: 14px;
}
#cancelarTurnoVBox {
    -fx-background-color: #FFFFFF;
    -fx-padding: 20px; /* Relleno alrededor del contenido */
    -fx-spacing: 10px; /* Espaciado entre elementos */
}